h1 {
    text-align: center;
}

.border {
    background-color: aliceblue;
    border-radius: 5px;
}

table {
    width: 100%;
    text-align: center;
    border: 3px solid white;
    vertical-align: bottom;
    border-spacing: 2px;
    border-collapse: separate;
}

th,
td {
    border-bottom: 1px white;
    margin: 2px;
    padding: 10px;
    border: 2px solid white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:first-of-type {
    width: 50%;
    text-align: left;
}

.tablazat {
    background-color: #f0f8ff;
}

input[type=text] {
    width: auto;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

input:focus {
    background-color: white;
}

select:focus {
    background-color: white;
}

input[type=text]:focus {
    width: 200px;
}

input[type="text"] {
    width: 10%;
}

#btn-fwd {
    color: white;
    background-color: rgba(136, 182, 255, 0.603);
}

#btn-bck {
    color: white;
    background-color: rgba(136, 182, 255, 0.603);
}

#lab {
    text-align: left;
    font-size: 1.5vw;
}

.question-card-body:first-of-type {
    display: block;
    /* background-color: #f0f8ff;*/
}

.question-card-body {
    display: none;
    background-color: white;
}

.question-hint {
    font-style: italic;
    text-align: center;
}

.radio-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto;
}

select {
    width: 50%;
}

.masodik {
    width: 90%;
}

.salt {
    margin: 10px;
}