#tiles-container {
    display: grid;
    padding: 50px;
    min-width: 400px;
    max-width: 1024px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tile {
    border-radius: 5px;
    min-width: 300px;
    justify-content: center;
    position: relative;
    width: 50%;
    background: aliceblue;
    margin: 4px;

}

.tile:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.tile-content {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: transform .2s;
}

.tile-content:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.tile-icon {
    font-size: 80px;
}

.exit-tile {
    background: rgb(172, 20, 20);
}

.mtc-tile {
    background: orange;
}

.wl-tile {
    background: rgb(66, 102, 161);
}

.msg-tile {
    background: purple;
}

.udt-tile {
    background: green;
}